extends layout 

block content 
    .view-container
        .map-container  
            h3 the charted universe
            .map-canvas 
                .x-rule
                .y-rule
                each system in mapData 
                    each location in system.locations 
                        - const position = `left: ${location.x}em; bottom: ${location.y}em`
                        .map-point(style=position)
                            .map-point-meta 
                                p #{location.name} : #{location.symbol}
                                p #{location.type}
                                p #{location.x}, #{location.y}
        .reminders-container
            h3 reminders:
            each reminder in reminders
                .reminder-item
                    p [delete]
                    p #{reminder.content}

